---
/**
 * Counter - counts up to `value` when scrolled into view (tabular figures).
 */
interface Props {
  value: number;
  prefix?: string;
  suffix?: string;
  class?: string;
}

const { value, prefix = '', suffix = '', class: className = '' } = Astro.props;
---

<span
  class={`tabular ${className}`}
  data-counter={value}
  data-counter-prefix={prefix}
  data-counter-suffix={suffix}
>{prefix}0{suffix}</span>
